{% extends 'base.html.twig' %}

{% block title %}Komentarze{% endblock %}

{% block stylesheets %}
    <style>
        a {
            color: hotpink;
        }

        .button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 2px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }

        #comments {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #comments td, #comments th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #comments tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #comments tr:hover {
            background-color: #ddd;
        }

        #comments th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4CAF50;
            color: white;
        }

        .alert-success {
            color: #3c763d;
            background-color: #dff0d8;
            border-color: #d6e9c6;
        }

        .alert {
            padding: 15px;
            margin-bottom: 20px;
            border: 1px solid transparent;
            border-radius: 4px;
        }

        .alert-error {
            color: #a94442;
            background-color: #f2dede;
            border-color: #ebccd1;
        }

        .pagination {
            display: inline-block;
            margin-top: 10px;
        }

        .pagination a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
            border: 1px solid #ddd;
        }

        .pagination a.active {
            background-color: #4CAF50;
            color: white;
            border: 1px solid #4CAF50;
        }

        .pagination a:hover:not(.active) {
            background-color: #ddd;
        }
    </style>
{% endblock %}

{% block body %}
    {% include 'messages.html.twig' %}
    <h3><a href="{{ path('comment_new') }}">Dodaj nowy komentarz >></a></h3>
    <div>
        {{ form_start(form) }}
        <label for="search">Wyszukaj po autorze:</label>
        {{ form_widget(form.search, {'attr': {'class': 'form-control', 'placeholder': 'Search...'}}) }}
        {{ form_errors(form.search) }}
        <button type="submit" class="button">Wyszukaj</button>
        {% if form.vars.value.search != '' %}
            <a href="{{ path('comment_index') }}">Wyczyść filtry</a>
        {% endif %}
        {{ form_end(form) }}
        <br/><br/>
    </div>
    <div>
        <table id="comments">
            <thead>
            <tr>
                <th>L.P.</th>
                <th>Treść</th>
                <th>Data dodania</th>
                <th>Nick autora</th>
            </tr>
            </thead>
            <tbody>
            {% for comment in comments %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ comment.message }}</td>
                    <td>{{ comment.createdAt|date('Y-m-d H:i') }}</td>
                    <td>{{ comment.author.nick }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% include 'grid/pagination.html.twig' %}
{% endblock %}
